.footer {
  width: 100%;
  position: fixed;
  background: rgb(00, 33, 55);
  font-family: serif;
  font-size: 18px;
  font-style: oblique;
  color: white;
  bottom: 0;
  padding: 10px;
}

.footer span {
  position: relative;
  float: right;
  right: 50%;
}

.footer img {
  padding: 5px 0 0 0;
  position: relative;
  float: right;
  right: 51%;
}
